{% extends 'layout.twig' %}
{% import 'Macro/form.twig' as form %}
{% block body %}

<div class="container">
    <form id='formulaire' action="{{ path_for('publish.contract') }}" enctype="multipart/form-data" method="POST">
        <div class="row">
            <div class="col-lg-6">
                <div class="jumbotron">
                    <h2>Créer un appel d'offre</h2>
                </div>
                 {{ form.group('name', null, 'name', 'Nom du projet') }}
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="dateDebut">Date de début : </label>
                            <input type="date" name="dateDebut" id="dateDebut">
                        </div>
                        <div class="col-lg-6">
                            <label for="dateFin">Date de fin : </label>
                            <input type="date" name="dateFin" id="dateFin">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <input type="file" name="image_link" id="image_link" class="col-lg-12"></input>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="comment">Information pratique</label>
                        <textarea class="form-control" rows="5" id="description" name="description"></textarea>
                    </div>
            </div>
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d42141.25398685848!2d6.173719700000007!3d48.689645899999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1482447488078" width='100%' height="480px" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-address-card "></i> Référence professionnelle requise</div>
                    <div class="panel-body">  {{ form.group('reference', null, 'reference') }}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-user"></i> Profil Recherché</div>
                    <div class="panel-body"> {{ form.group('profil', null, 'profil') }}</div>
                </div>
            </div>


            {{ csrf() }}
            <input type="submit" value="Créer" class="pull-right btn btn-success">

        </div>
    </form>

    </div>

</div>

{% endblock %}
