{% extends 'layout.twig' %}
{% import 'Macro/form.twig' as form %}
{% block body %}

<div class="container">
{%if error is not defined %}
    <h3>{{offre.name}}</h3>
    <div class="row">
    <p class="col-md-8"><label>Description </label><br>{{offre.description}}</p>
    </div>
    <p>Du <strong>{{offre.dateDebut|date('d/m/Y')}}</strong> au <strong>{{offre.dateFin|date('d/m/Y')}}</strong></p>
    <label>Profil : </label>
    {{offre.profil}}<br>
    <label>Reference :</label>
    <p>{{offre.reference}}</p>
    <img src="images/{{offre.image_link}}" class="col-md-4">


{%endif%}
</div>


{% if error is defined %}
{% for er in error %}
<div class="alert alert-danger">  {{er}} </div>
{%endfor%}
{%endif%}

{% endblock %}
