.offre{
	text-decoration: none;

	color : black;
}

.offre:hover{
	text-decoration: none;
	color:black;
}

.well {
	display: inline-block;	
}

.description {
	width:70%;
	display: inline-block;	
	margin-right: 0px;
}

.imageHome{
	display: inline-block;
	width: 25%;
	max-height: auto;
	float: right;
}