{% extends 'layout.twig' %}
{% import 'Macro/form.twig' as form %}
{% block body %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path_for('home') }}">Home</a></li>
            <li class="active"><a href="{{ path_for('moe_form_identite') }}">Enregistrement MOE</a></li>
            <li class="active"><a href="{{ path_for('moe_form_identite') }}">Identité</a></li>

        </ol>
        <div class="jumbotron">
            <h1>{{nom_form}}</h1>
        </div>
        <form id='formulaire' action="{{action}}" method="POST"  enctype="multipart/form-data">
            <h3>Identité</h3>
            <label for="civilite">Civilité</label>
            <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="madame" id="madame" value="option1">Madame
            </label>
            <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="monsieur" id="monsieur" value="option1">Monsieur
            </label>
            <br/><br/>
            {{ form.group('nom', null, 'nom', 'Nom') }}
            {{ form.group('prenom', null, 'prenom', 'Prenom') }}
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-lg" name="email" id="name" placeholder="you@example.com">
                </div>
            </div>
            <br/>

        <div class="form-group row">
            <label for="fonction" class="col-sm-2 col-form-label col-form-label-lg">Fonction</label>
            <div class="col-sm-10">

                <select name="fonction" id="fonction" class="form-control">
                    <option value="0">Sélectionner votre fonction</option>
                    <option value="1" >Adjoint de Direction</option>
                    <option value="2" >Administrateur</option>
                    <option value="3" >Administrateur Directeur Général</option>
                    <option value="4" >Assistant du Président</option>
                    <option value="5" >Attaché de Direction</option>
                    <option value="6" >Attaché de Presse</option>
                    <option value="7" >Chargé de Communication</option>
                    <option value="8" >Chargé de Mission</option>
                    <option value="9" >Chargé des Relations Extérieures</option>
                    <option value="10" >Chef d'Entreprise</option>
                    <option value="11" >Chef de Fabrication</option>
                    <option value="12" >Chef du Personnel</option>
                    <option value="13" >Co Gérant</option>
                    <option value="14" >Co Président</option>
                    <option value="112" >Commercial</option>
                    <option value="110" >Conception - Etudes - Développement</option>
                    <option value="15" >Conseiller du Président</option>
                    <option value="16" >Controleur de Gestion</option>
                    <option value="17" >Dir. administratif et financier</option>
                    <option value="18" >Directeur</option>
                    <option value="19" >Directeur Agence</option>
                    <option value="20" >Directeur Commercial</option>
                    <option value="21" >Directeur Délégué</option>
                    <option value="22" >Directeur Délégué Général</option>
                    <option value="23" >Directeur Filiale</option>
                    <option value="24" >Directeur Général</option>
                    <option value="25" >Directeur Général Adjoint</option>
                    <option value="26" >Directeur IndustrieI</option>
                    <option value="27" >Directeur International</option>
                    <option value="28" >Directeur Juridique</option>
                    <option value="29" >Directeur Logistique</option>
                    <option value="30" >Directeur Produit</option>
                    <option value="31" >Directeur Recherche et Développement</option>
                    <option value="32" >Directeur Régional</option>
                    <option value="33" >Directeur Scientifique</option>
                    <option value="34" >Directeur Technico-Commercial</option>
                    <option value="35" >Directeur Technique</option>
                    <option value="36" >Directeur adjoint</option>
                    <option value="37" >Directeur administratif</option>
                    <option value="38" >Directeur d'Usine</option>
                    <option value="39" >Directeur de l'Exploitation</option>
                    <option value="40" >Directeur de l'Exportation</option>
                    <option value="41" >Directeur de la Communication</option>
                    <option value="42" >Directeur de la Production</option>
                    <option value="43" >Directeur de la Qualité</option>
                    <option value="44" >Directeur de la Recherche</option>
                    <option value="45" >Directeur de la Stratégie</option>
                    <option value="46" >Directeur des Achats</option>
                    <option value="47" >Directeur des Affaires Sociales</option>
                    <option value="48" >Directeur des Etudes</option>
                    <option value="49" >Directeur des Opérations</option>
                    <option value="50" >Directeur des Relations Extérieures</option>
                    <option value="51" >Directeur des Relations Humaines</option>
                    <option value="52" >Directeur des Ressources Humaines</option>
                    <option value="53" >Directeur des Services Techniques</option>
                    <option value="54" >Directeur des Travaux</option>
                    <option value="55" >Directeur des Ventes</option>
                    <option value="56" >Directeur du Développement</option>
                    <option value="57" >Directeur du Marketing</option>
                    <option value="58" >Directeur du Matériel</option>
                    <option value="59" >Directeur du Personnel</option>
                    <option value="60" >Directeur financier</option>
                    <option value="61" >Directeur financier adjoint</option>
                    <option value="62" >Directeur informatique</option>
                    <option value="113" >Direction Générale - secrétariat général</option>
                    <option value="114" >Documentation</option>
                    <option value="63" >Délégué Général</option>
                    <option value="116" >Elu</option>
                    <option value="117" >Enseignement</option>
                    <option value="118" >Environnement -Urbanisme</option>
                    <option value="111" >Gestion-administration - achat</option>
                    <option value="64" >Gérant</option>
                    <option value="119" >Informatique - Internet</option>
                    <option value="120" >Juridique</option>
                    <option value="65" >Maire</option>
                    <option value="121" >Marketing - Communication - Promotion</option>
                    <option value="66" >Membre du Directoire</option>
                    <option value="122" >Patrimoine - Immobilier - Foncier</option>
                    <option value="67" >Président</option>
                    <option value="68" >Président Conseil Administration</option>
                    <option value="69" >Président Conseil Surveillance</option>
                    <option value="70" >Président Directeur Général</option>
                    <option value="71" >Président d'Honneur</option>
                    <option value="72" >Président du Directoire</option>
                    <option value="73" >Relations Presse</option>
                    <option value="74" >Resp. administratif et financier</option>
                    <option value="75" >Responsable</option>
                    <option value="76" >Responsable Agence</option>
                    <option value="77" >Responsable Commercial</option>
                    <option value="78" >Responsable Comptabilité</option>
                    <option value="79" >Responsable Développement</option>
                    <option value="80" >Responsable Informatique</option>
                    <option value="81" >Responsable Juridique</option>
                    <option value="82" >Responsable Logistique</option>
                    <option value="83" >Responsable Marketing</option>
                    <option value="84" >Responsable Produit</option>
                    <option value="85" >Responsable Recherche et Développement</option>
                    <option value="86" >Responsable Régional</option>
                    <option value="87" >Responsable Technique</option>
                    <option value="88" >Responsable administratif</option>
                    <option value="89" >Responsable de l'Exploitation</option>
                    <option value="90" >Responsable de l'Information</option>
                    <option value="91" >Responsable de la Communication</option>
                    <option value="92" >Responsable de la Production</option>
                    <option value="93" >Responsable de la Qualité</option>
                    <option value="94" >Responsable de la Recherche</option>
                    <option value="95" >Responsable des Achats</option>
                    <option value="96" >Responsable des Etudes</option>
                    <option value="97" >Responsable des Relations Extérieures</option>
                    <option value="98" >Responsable des Relations Humaines</option>
                    <option value="99" >Responsable des Ressources Humaines</option>
                    <option value="100" >Responsable des Services Techniques</option>
                    <option value="101" >Responsable des Travaux</option>
                    <option value="102" >Responsable des Ventes</option>
                    <option value="103" >Responsable du Matériel</option>
                    <option value="104" >Responsable du Personnel</option>
                    <option value="105" >Responsable financier</option>
                    <option value="115" >Ressources Humaines</option>
                    <option value="106" >Secrétaire Général</option>
                    <option value="107" >Secrétaire Général Adjoint</option>
                    <option value="123" >Technique</option>
                    <option value="124" >Travaux - Exploitation - Production</option>
                    <option value="108" >Vice Président</option>
                    <option value="109" >Vice Président Directeur général</option>
                </select>


                <span class="help-block"></span>
            </div>
        </div>
            <div class="form-group row">
                <label for="references" class="col-sm-2 col-form-label col-form-label-lg">Références</label>
                <div class="col-sm-10">
                    <input  type='file' name='fichiers'>
                </div>
            </div>
            <div class="form-group row">
                <label for="service" class="col-sm-2 col-form-label col-form-label-lg">Service</label>
                <div class="col-sm-10">
                    <select name="service" id="service" class="form-control">
                        <option value="">Sélectionner votre service</option>
                        <option value="3" >Commercial</option>
                        <option value="1" >Conception - Etudes - Développement</option>
                        <option value="4" >Direction Générale - secrétariat général</option>
                        <option value="5" >Documentation</option>
                        <option value="7" >Elu</option>
                        <option value="8" >Enseignement</option>
                        <option value="9" >Environnement -Urbanisme</option>
                        <option value="2" >Gestion-administration - achat</option>
                        <option value="10" >Informatique - Internet</option>
                        <option value="11" >Juridique</option>
                        <option value="12" >Marketing - Communication - Promotion</option>
                        <option value="13" >Patrimoine - Immobilier - Foncier</option>
                        <option value="6" >Ressources Humaines</option>
                        <option value="14" >Technique</option>
                        <option value="15" >Travaux - Exploitation - Production</option>
                    </select>
               </div>
            </div>
            {{ form.group('telephone', null, 'telephone', 'Téléphone') }}

            {{ csrf() }}
            <input type="submit" value="Enregistrer et Etape Suivante" class="pull-right btn btn-success">
        </form>
    </div>

{% endblock %}