{% extends 'layout.twig' %}
{% import 'Macro/form.twig' as form %}
{% block body %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path_for('home') }}">Home</a></li>
            <li class="active"><a href="{{ path_for('moe_form_identite') }}">Enregistrement MOE</a></li>


        </ol>
        <div class="jumbotron">
            <h1>Enregistrement MOE</h1>
        </div>
        <form id='formulaire' action="{{action}}" method="POST"  enctype="multipart/form-data">
            <h3>Entreprise</h3>
            <br/><br/>
            {{ form.group('libelle', null, 'libelle', 'Entreprise') }}
            {{ form.group('complement', null, 'complement', 'Complément') }}
            <div class="form-group row">
                <label for="pays" class="col-sm-2 col-form-label col-form-label-lg">Pays</label>
                <div class="col-sm-10">
                    <select name="pays" id="pays" class="form-control">
                        <option value="0">Sélectionner</option>
                        <option value="1" >Afghanistan</option>
                        <option value="2" >Afrique du sud</option>
                        <option value="3" >Albanie</option>
                        <option value="4" >Algérie</option>
                        <option value="5" >Allemagne</option>
                        <option value="6" >Andorre</option>
                        <option value="7" >Angola</option>
                        <option value="8" >Anguilla</option>
                        <option value="9" >Antigua et Barbuda</option>
                        <option value="10" >Antilles Néerlandaises</option>
                        <option value="11" >Arabie Saoudite</option>
                        <option value="12" >Argentine</option>
                        <option value="13" >Arménie</option>
                        <option value="14" >Aruba</option>
                        <option value="15" >Australie</option>
                        <option value="16" >Autriche</option>
                        <option value="17" >Azerbaïdjan</option>
                        <option value="18" >Bahamas</option>
                        <option value="19" >Bahreïn</option>
                        <option value="20" >Bangladesh</option>
                        <option value="21" >Barbade</option>
                        <option value="22" >Belgique</option>
                        <option value="23" >Belize</option>
                        <option value="24" >Bermudes</option>
                        <option value="25" >Biélorussie</option>
                        <option value="26" >Bolivie</option>
                        <option value="27" >Bosnie Herzégovine</option>
                        <option value="28" >Botswana</option>
                        <option value="29" >Bouthan</option>
                        <option value="30" >Brunéi Darussalam</option>
                        <option value="31" >Brésil</option>
                        <option value="32" >Bulgarie</option>
                        <option value="33" >Burkina Faso</option>
                        <option value="34" >Burundi</option>
                        <option value="35" >Bénin</option>
                        <option value="36" >Cambodge</option>
                        <option value="37" >Cameroun</option>
                        <option value="38" >Canada</option>
                        <option value="39" >Cap Vert</option>
                        <option value="40" >Chili</option>
                        <option value="41" >Chine</option>
                        <option value="42" >Chypre</option>
                        <option value="43" >Colombie</option>
                        <option value="44" >Congo</option>
                        <option value="45" >Corée du sud</option>
                        <option value="46" >Costa Rica</option>
                        <option value="47" >Croatie</option>
                        <option value="48" >Cuba</option>
                        <option value="49" >Côte d'Ivoire</option>
                        <option value="50" >Danemark</option>
                        <option value="51" >Djibouti</option>
                        <option value="52" >Dominique</option>
                        <option value="53" >Egypte</option>
                        <option value="54" >Emirats Arabes Unis</option>
                        <option value="55" >Equateur</option>
                        <option value="56" >Erythrée</option>
                        <option value="57" >Espagne</option>
                        <option value="58" >Estonie</option>
                        <option value="59" >Etats Fédérés Micronésie</option>
                        <option value="60" >Etats-Unis</option>
                        <option value="61" >Ethiopie</option>
                        <option value="62" >Fidji</option>
                        <option value="63" >Finlande</option>
                        <option value="64" >France</option>
                        <option value="65" >Fédération Russe</option>
                        <option value="66" >Gabon</option>
                        <option value="67" >Gambie</option>
                        <option value="68" >Ghana</option>
                        <option value="69" >Gibraltar</option>
                        <option value="70" >Grenade</option>
                        <option value="71" >Groenland</option>
                        <option value="72" >Grèce</option>
                        <option value="73" >Guam</option>
                        <option value="74" >Guatemala</option>
                        <option value="75" >Guiné Bissau</option>
                        <option value="76" >Guinée</option>
                        <option value="77" >Guinéee Equatoriale</option>
                        <option value="78" >Guyane</option>
                        <option value="79" >Géorgie</option>
                        <option value="80" >Haïti</option>
                        <option value="81" >Hollande</option>
                        <option value="82" >Honduras</option>
                        <option value="83" >Hong Kong</option>
                        <option value="84" >Hongrie</option>
                        <option value="85" >Ile Bouvet</option>
                        <option value="86" >Ile Christmas</option>
                        <option value="87" >Iles Cocos</option>
                        <option value="88" >Iles Comores</option>
                        <option value="89" >Iles Cook</option>
                        <option value="90" >Iles Fakland (Malouines)</option>
                        <option value="91" >Iles Faroë</option>
                        <option value="92" >Iles Grenadines et Saint Vincent</option>
                        <option value="93" >Iles Mariannes</option>
                        <option value="94" >Iles Marshall</option>
                        <option value="95" >Iles Mc Donald</option>
                        <option value="96" >Iles Norfolk</option>
                        <option value="97" >Iles Salomon</option>
                        <option value="98" >Iles Sandwich</option>
                        <option value="99" >Iles Tonga</option>
                        <option value="100" >Iles Turques et Caicos</option>
                        <option value="101" >Iles Vierges Britanniques</option>
                        <option value="102" >Iles Vierges des Etats-Unis</option>
                        <option value="103" >Iles caïmans</option>
                        <option value="104" >Iles mineures éloignées des Etats-Unis</option>
                        <option value="105" >Inde</option>
                        <option value="106" >Indonésie</option>
                        <option value="107" >Irak</option>
                        <option value="108" >Iran</option>
                        <option value="109" >Irlande</option>
                        <option value="110" >Islande</option>
                        <option value="111" >Israël</option>
                        <option value="112" >Italie</option>
                        <option value="113" >Jamaïque</option>
                        <option value="114" >Japon</option>
                        <option value="115" >Jordanie</option>
                        <option value="116" >Kazakstan</option>
                        <option value="117" >Kenya</option>
                        <option value="118" >Kiribati</option>
                        <option value="119" >Koweit</option>
                        <option value="120" >Kyrgyzstan</option>
                        <option value="121" >Laos</option>
                        <option value="122" >Latvia</option>
                        <option value="123" >Lesotho</option>
                        <option value="124" >Liban</option>
                        <option value="125" >Libye</option>
                        <option value="126" >Libéria</option>
                        <option value="127" >Liechtenstein</option>
                        <option value="128" >Lituanie</option>
                        <option value="129" >Luxembourg</option>
                        <option value="130" >Macao</option>
                        <option value="131" >Madagascar</option>
                        <option value="132" >Malaisie</option>
                        <option value="133" >Malawi</option>
                        <option value="134" >Maldives</option>
                        <option value="135" >Mali</option>
                        <option value="136" >Malte</option>
                        <option value="137" >Maroc</option>
                        <option value="138" >Martinique</option>
                        <option value="139" >Maurice</option>
                        <option value="140" >Mauritanie</option>
                        <option value="141" >Mayotte</option>
                        <option value="142" >Mexique</option>
                        <option value="143" >Moldavie</option>
                        <option value="144" >Monaco</option>
                        <option value="145" >Mongolie</option>
                        <option value="146" >Monserrat</option>
                        <option value="147" >Mozambique</option>
                        <option value="148" >Myanmar (Anc. Birmanie)</option>
                        <option value="149" >Namibie</option>
                        <option value="150" >Nauru</option>
                        <option value="151" >Nicaragua</option>
                        <option value="152" >Niger</option>
                        <option value="153" >Nigéria</option>
                        <option value="154" >Nioué</option>
                        <option value="155" >Norvège</option>
                        <option value="156" >Nouvelle Calédonie</option>
                        <option value="157" >Nouvelle Zélande</option>
                        <option value="158" >Népal</option>
                        <option value="159" >Oman</option>
                        <option value="160" >Ouganda</option>
                        <option value="161" >Ouzbékistan</option>
                        <option value="162" >Pakistan</option>
                        <option value="163" >Palaos</option>
                        <option value="164" >Panama</option>
                        <option value="165" >Papouasie Nouvelle Guinée</option>
                        <option value="166" >Paraguay</option>
                        <option value="167" >Philippines</option>
                        <option value="168" >Pitcairn</option>
                        <option value="169" >Pologne</option>
                        <option value="170" >Porto Rico</option>
                        <option value="171" >Portugal</option>
                        <option value="172" >Pérou</option>
                        <option value="173" >Quatar</option>
                        <option value="174" >Roumanie</option>
                        <option value="175" >Royaume Uni</option>
                        <option value="176" >Rwanda</option>
                        <option value="177" >République Dominicaine</option>
                        <option value="178" >République Démocratique populaire de Corée</option>
                        <option value="179" >République Tchèque</option>
                        <option value="180" >République centrafricaine</option>
                        <option value="181" >République de Macédoine</option>
                        <option value="182" >République démocratique du congo (ex. Zaïre)</option>
                        <option value="183" >Réunion</option>
                        <option value="184" >Sahara occidental</option>
                        <option value="185" >Saint Kitts et Nevis</option>
                        <option value="186" >Sainte Hélène</option>
                        <option value="187" >Sainte Lucie</option>
                        <option value="188" >Salvador</option>
                        <option value="189" >Samoa</option>
                        <option value="190" >Samoa occidentales</option>
                        <option value="191" >San Marin</option>
                        <option value="192" >Sao Tome et Principe</option>
                        <option value="193" >Seychelles</option>
                        <option value="194" >Sierra Leone</option>
                        <option value="195" >Singapour</option>
                        <option value="196" >Slovaquie</option>
                        <option value="197" >Slovénie</option>
                        <option value="198" >Somalie</option>
                        <option value="199" >Soudan</option>
                        <option value="200" >Sri Lanka (ex. Ceylan)</option>
                        <option value="201" >Suisse</option>
                        <option value="202" >Suriname</option>
                        <option value="203" >Suède</option>
                        <option value="204" >Svalbard and Jan Mayen Islands</option>
                        <option value="205" >Swaziland</option>
                        <option value="206" >Syrie</option>
                        <option value="207" >Sénégal</option>
                        <option value="208" >Tadjikistan</option>
                        <option value="209" >Taiwan</option>
                        <option value="210" >Tanzanie</option>
                        <option value="211" >Tchad</option>
                        <option value="212" >Terres Australes Françaises</option>
                        <option value="213" >Territoire Britannique de l'océan indien</option>
                        <option value="214" >Thaïlande</option>
                        <option value="215" >Timor Oriental</option>
                        <option value="216" >Togo</option>
                        <option value="217" >Tokelau</option>
                        <option value="218" >Trinité et Tobago</option>
                        <option value="219" >Tunisie</option>
                        <option value="220" >Turkménistan</option>
                        <option value="221" >Turquie</option>
                        <option value="222" >Tuvalu</option>
                        <option value="223" >Ukraine</option>
                        <option value="224" >Uruguay</option>
                        <option value="225" >Vanuatu</option>
                        <option value="226" >Vatican</option>
                        <option value="227" >Viet Nam</option>
                        <option value="228" >Vénézuela</option>
                        <option value="229" >Wallis et Futuna</option>
                        <option value="230" >Yougoslavie</option>
                        <option value="231" >Yémen</option>
                        <option value="232" >Zambie</option>
                        <option value="233" >Zimbabwe</option>
                    </select>


                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="adresse" class="col-sm-2 col-form-label col-form-label-lg">Adresse</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" name="adresse" id="adresse" placeholder="20,rue....">
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label for="code_postal" class="col-sm-2 col-form-label col-form-label-lg">Code Postal</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg"  name="code_postal" id="code_postal" >
                </div>
            </div>
            <div class="form-group row">
                <label for="ville" class="col-sm-2 col-form-label col-form-label-lg">Ville</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" name="ville" id="ville" >
                </div>
            </div>
            <div class="form-group row">
                <label for="telephone" class="col-sm-2 col-form-label col-form-label-lg">Téléphone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" name="telephone" id="telephone">
                </div>
            </div>
            <div class="form-group row">
                <label for="site_internet" class="col-sm-2 col-form-label col-form-label-lg">Site Internet</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" name="site_internet" id="site_internet" >

                </div>
            </div>

            <div class="form-group row">
                <label for="secteur_activite" class="col-sm-2 col-form-label col-form-label-lg">Secteur Activité</label>
                <div class="col-sm-10">
                    <select name="secteur_activite" id="secteur_activite" class="form-control">
                        <option value="">Sélectionner votre secteur d'activité</option>
                        <option value="12" >MOE - Architectes</option>
                        <option value="13" >MOE - Bureau d'études</option>
                        <option value="31" >MOE - Autre Maîtrise d'Oeuvre</option>
                        <option value="4" >ENTREPRISE - Entreprises Générales</option>
                        <option value="2" >ENTREPRISE - Entreprises de gros oeuvre</option>
                        <option value="3" >ENTREPRISE - Entreprises de TP</option>
                        <option value="1" >ENTREPRISE - Artisans</option>
                        <option value="7" >INDUSTRIE - Materiaux (extraction/ fabrication)</option>
                        <option value="8" >INDUSTRIE - Produits</option>
                        <option value="6" >INDUSTRIE - Equipements techniques</option>
                        <option value="5" >INDUSTRIE - Autres Industries</option>
                        <option value="16" >SERVICES - Agroalimentaire</option>
                        <option value="19" >SERVICES - Commerce automobile</option>
                        <option value="18" >SERVICES - Banques et assurances</option>
                        <option value="20" >SERVICES - Editions</option>
                        <option value="21" >SERVICES - Energies</option>
                        <option value="22" >SERVICES - Formation</option>
                        <option value="23" >SERVICES - Informatique</option>
                        <option value="24" >SERVICES - Postes et télécommunications</option>
                        <option value="15" >SERVICES - Agences de publicité</option>
                        <option value="26" >SERVICES - Transports</option>
                        <option value="25" >SERVICES - Services Urbains</option>
                        <option value="17" >SERVICES - Autres services</option>
                        <option value="14" >NEGOCIANT - Commerce & Location</option>
                        <option value="32" >MOP - Maîtrise d'Ouvrage Privée</option>
                        <option value="29" >MOA - Etat et administrations centrales</option>
                        <option value="28" >MOA - Autres administrations</option>
                        <option value="11" >MOA - Entreprises et établissements publics nationaux</option>
                        <option value="10" >MOA - Collectivités territoriales et établissements locaux</option>
                        <option value="30" >MOA - Societé d'économie mixte</option>
                        <option value="9" >MOA - Autre Maîtrise d'Ouvrage Publique</option>
                        <option value="27" >INS - Organisations professionnelles</option>
                    </select>

               </div>
            </div>
            <div class="form-group row">
                <label for="code_naf" class="col-sm-2 col-form-label col-form-label-lg">Code NAF</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" name="code_naf" id="code_naf" >
                </div>
            </div>
            <div class="form-group row">
                <label for="code_ape" class="col-sm-2 col-form-label col-form-label-lg">Code APE</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" name="code_ape" id="code_ape" >
                </div>
            </div>
            <div class="form-group row">
                <label for="code_siret" class="col-sm-2 col-form-label col-form-label-lg">Code Siret</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" name="code_siret" id="code_siret" >
                </div>
            </div>

            {{ csrf() }}
            <input type="submit" value="Enregistrer" class="pull-right btn btn-success">
        </form>
    </div>

{% endblock %}