<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path_for('home') }}">Easy Contract</a>xz
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{  path_for('home') }}">Accueil</a></li>
                <li><a href="">Recherche Avancée</a></li>
                <li><a href="">Nos Offres</a></li>
                <li><a href="{{ path_for('moe_form_identite') }}">Enregistrement MOE</a></li>
                <li><a href="">Publier Appel d'Offre</a></li>
            </ul>
            <form action="{{ path_for('search') }}" class="navbar-form navbar-right">
                <div class="formulaire">
                    <input type="text" name="search-query" class="form-control" placeholder="Recherche">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if auth.check() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ auth.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path_for('create.contract') }}">Créer un appel d'offre</a></li>
                            <li><a href="{{ path_for('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path_for('register') }}">Register</a></li>
                    <li><a href="{{ path_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


