{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    {%if offres is not empty%}
        {%for offre in offres %}
        <a class="offre" href="offre?id={{offre.id}}">
        <div class="well" >
        <div class="description"  class="col-lg-4" >
            
            <h3>{{offre.name}}</h3>
           
            <p><label>Description </label><br>{{offre.description}}</p>
            
            <p>Du <strong>{{offre.dateDebut|date('d/m/Y')}}</strong> au <strong>{{offre.dateFin|date('d/m/Y')}}</strong></p>
            
           
        </div>
        {%if offre.image_link%}
            <img src="images/{{offre.image_link}}" class="col-lg-4 imageHome" >
        {%endif%}
        </div>
            
        </a>
         <div class="row"></div>
        {%endfor%}
    {%endif%}
</div>

{% endblock %}
